.row li {
    width: 33%;
    float: left;
    list-style: none;
  }
  
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .circle-link{
      width: 90%;
  }

  .btn-width-spec{
    width: 50%;
  }