<div class="content" role="main">

    <h1>Votre avis a bien été enregistré.</h1>
    <h3>Nous vous remercions beaucoup d'avoir exprimé votre avis</h3>    
    

    
    <img src="../../assets/images/smiley-angel.jpg" class="img-responsive inline-block" alt="angel smiley" /> 
 
    
    

    <h2 class="mt-5">Nous espérons vous revoir prochainement</h2>
    <div>
        <button class="btn btn-info btn-sm btn-inline mr-5" (click)="goToVoteMenu()">Menu principal</button>
    
    </div>
    
</div>